.main {
    background-color:#e4b392
}

.titre2 {
    font-size : 70px;
    margin-left : 620px;
    margin-right : 300px; 
    

}


.image1{
    top : 60px;
    left : 80px; 
    width : 60vw;
    margin-left: 270px;
    margin-right: 150px;
    margin-top: 40px;
}

.image2{
    top : 60px;
    left : 80px; 
    width : 60vw;
    margin-left: 270px;
    margin-right: 150px;
    margin-top: 40px;
}

.image3{
    top : 60px;
    left : 80px; 
    width : 60vw;
    margin-left: 270px;
    margin-right: 150px;
    margin-top: 40px;
}